.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5687e3;
  height: 100vh;
  color: white;
}

.coin-container > img {
  width: 15%;
}

.coin-container tbody {
  gap: 1rem;
}

.coin-container th {
  display: flex;
}
